# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\whiteTest\Java-to-AST-with-Visualization-master - 318\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
